<div class="wrapper">
  <nav class="navbar main">
    <h1>Angular Blog</h1>
  </nav>
  <button class="btn btn-primary btn-admin" routerLink="admin">Войти в качестве администратора</button>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
