<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в панель администратора</h2>

  <div class="alert alert-danger"
  *ngIf="auth.error$ | async as error">
    {{error}}
  </div>

  <div class="alert alert-info"
       *ngIf="message">
    {{message}}
  </div>

  <div class="form-control"
  [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
  >
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    <div class="validation"
    *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <small
      *ngIf="form.get('email')?.errors?.['required']">Введите поле email
      </small>
      <small
        *ngIf="form.get('email')?.errors?.['email']">Email должен быть введен корректно
      </small>
    </div>
  </div>
  <div class="form-control"
       [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
    <div class="validation"
         *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
    >
      <small
      *ngIf="form.get('password')?.errors?.['minlength']">Пароль должен состоять не менее чем из
        {{form.get('password')?.errors?.['minlength'].requiredLength}} символов.
        Сейчас он
        {{form.get('password')?.errors?.['minlength'].actualLength}} символа.
      </small>
      <small
        *ngIf="form.get('password')?.errors?.['required']">Введите пароль
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid || submitted">Войти</button>
</form>
